<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ugr.npi.talkwithme">

    <application
        android:name="ugr.npi.talkwithme.ChatBotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.RECORD_AUDIO"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

        <activity
            android:name="ugr.npi.talkwithme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="ugr.npi.talkwithme.LoadBrainService"
            android:exported="false"/>

        <service android:name="ugr.npi.talkwithme.BrainService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" />


    </application>

</manifest>